{% extends 'films/layout.html' %}

{% block title %}
    <title>Фильмы</title>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Фильмы, о которых нужно знать</h1>
        <div class="row">
            {% if films %}
                {% for film in films %}
                    <div class="col-md-4 mb-4">
                        <div class="card bg-dark text-light h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ film.title }}</h5>
                                <p class="card-text" data-label="Описание">{{ film.description }}</p>
                                <p class="card-text" data-label="Отзыв">{{ film.review }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="text-center">Фильмы не найдены</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}